<h1>User Settings</h1>

<%= render :partial => 'users/edit', :locals => {:user => @user} %>

<% for_customer_admin do %>
    <% form_for :user, @user, :url => user_path(@user, :project_id => params[:project_id]), :html => { :method => :put } do |f| %>
        <h2>Administration</h2>
        <% if @user.link_to(current_customer).role == 'admin' %>
            <p>This user is an admin for <%= h current_customer.name %>.</p>
            <p><%= f.submit 'Revoke Admin', :name => 'revoke_admin' %></p>
        <% else %>
            <p>This user not is an admin for <%= h current_customer.name %>.</p>
            <p><%= f.submit 'Grant Admin', :name => 'grant_admin' %></p>
        <% end %>
    <% end %>
<% end %>
